* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

// --- Map

#map {
  height: 100%;
}

// --- Controls

#controls-and-handle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500; /* leaflet map has z-index = 400 */
  padding: 0.4em;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: table;
}

#controls {
  display: table-cell;
}

// --- Location

#location {
  display: table;
  max-width: 30em;
}

#where-wrapper {
  display: table-cell;
}

#where {
  width: 100%;
}

#locate-me-wrapper {
  display: table-cell;
  width: 1%;
}

// --- Tag

#tag {
  display: table;
}

#tag-key {
  display: table-cell;
}

#tag-value {
  display: table-cell;
}

// Handle

#handle {
  display: table-cell;
  position: relative;
}
